<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            id="br.com.layersyncplugin.views.LayerSyncView"
            name="Layer Sync"
            class="br.com.layersyncplugin.views.LayerSyncView"
            category="br.com.layersyncplugin">
      </view>
   </extension>
</plugin>
